In [1]:
import pandas as pd
import requests

In [18]:
url = 'https://geo.sanjoseca.gov/server/rest/services/OPN/OPN_OpenDataService/MapServer/458/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [19]:
req = requests.get(url)
#sj = req.json()
req.status_code

200

In [20]:
sj.keys()

dict_keys(['displayFieldName', 'fieldAliases', 'geometryType', 'spatialReference', 'fields', 'features', 'exceededTransferLimit'])

In [25]:
req.json()['displayFieldName']

'IMAGENAME'

In [30]:
pd.DataFrame(req.json()['features'])

,attributes,geometry
0,"{'DATETIMERECEIVEDUTC': 1590721500000, 'DATETI...","{'x': -121.81807207346314, 'y': 37.32809795022..."
1,"{'DATETIMERECEIVEDUTC': 1578073213000, 'DATETI...","{'x': -121.83090543314101, 'y': 37.36267701263..."
2,"{'DATETIMERECEIVEDUTC': 1627243159000, 'DATETI...","{'x': -121.86683404814093, 'y': 37.37783129176..."
3,"{'DATETIMERECEIVEDUTC': 1552915723000, 'DATETI...","{'x': -121.90403268998422, 'y': 37.36042524638..."
4,"{'DATETIMERECEIVEDUTC': 1462316400000, 'DATETI...","{'x': -121.85307408253561, 'y': 37.35696594995..."
...,...,...
1995,"{'DATETIMERECEIVEDUTC': 1651096926000, 'DATETI...","{'x': -121.90798979259169, 'y': 37.37467714752..."
1996,"{'DATETIMERECEIVEDUTC': 1614311704000, 'DATETI...","{'x': -121.87616004262563, 'y': 37.34495111402..."
1997,"{'DATETIMERECEIVEDUTC': 1487287080000, 'DATETI...","{'x': -121.92705509633738, 'y': 37.38105794664..."
1998,"{'DATETIMERECEIVEDUTC': 1532195962000, 'DATETI...","{'x': -121.8711263363541, 'y': 37.31328537187932}"
1999,"{'DATETIMERECEIVEDUTC': 1474500960000, 'DATETI...","{'x': -121.88226708513676, 'y': 37.34430694675..."

In [37]:
req.json()['features'][0]['attributes']

{'DATETIMERECEIVEDUTC': 1590721500000,
 'DATETIMECOMPLETEDUTC': 1590726000000,
 'WORKORDERREFNO': 'WO-0000341544',
 'OBJECTID': 1,
 'FACILITYID': '83900',
 'INTID': 83900,
 'COUNCILDISTRICT': '8',
 'SERVICERECORDID': '',
 'SERVICECATEGORY': 'Debris & Illegal Dumping',
 'DATETIMERECEIVED': 1590696300000,
 'STATUS': 'Closed',
 'DATETIMECOMPLETED': 1590700800000,
 'DETAILSUMMARY': None,
 'LATITUDE': 37.328093,
 'LONGITUDE': -121.818059,
 'IMAGENAME': None,
 'HYPERLINK': None,
 'MYSANJOSEREFNO': None,
 'LASTUPDATETHIRTYDAYS': 1598363089000,
 'LASTUPDATE': 1600986109000,
 'NOTES': 'Homeless debris',
 'ENTERPRISEID': 'IWM-ILDM-0000083900',
 'GlobalID': '{87E47F44-FE16-4833-BC9C-B4E55BD89187}'}

In [50]:
pd.DataFrame(req.json()['features'][0]).loc[:, 'attributes'].transpose()

                                                  attributes    geometry
DATETIMERECEIVEDUTC                            1590721500000         NaN
DATETIMECOMPLETEDUTC                           1590726000000         NaN
WORKORDERREFNO                                 WO-0000341544         NaN
OBJECTID                                                   1         NaN
FACILITYID                                             83900         NaN
INTID                                                  83900         NaN
COUNCILDISTRICT                                            8         NaN
SERVICERECORDID                                                      NaN
SERVICECATEGORY                     Debris & Illegal Dumping         NaN
DATETIMERECEIVED                               1590696300000         NaN
STATUS                                                Closed         NaN
DATETIMECOMPLETED                              1590700800000         NaN
DETAILSUMMARY                                           None         NaN
LATITUDE                                           37.328093         NaN
LONGITUDE                                        -121.818059         NaN
IMAGENAME                                               None         NaN
HYPERLINK                                               None         NaN
MYSANJOSEREFNO                                          None         NaN
LASTUPDATETHIRTYDAYS                           1598363089000         NaN
LASTUPDATE                                     1600986109000         NaN
NOTES                                        Homeless debris         NaN
ENTERPRISEID                             IWM-ILDM-0000083900         NaN
GlobalID              {87E47F44-FE16-4833-BC9C-B4E55BD89187}         NaN
x                                                        NaN -121.818072
y                                                        NaN   37.328098

In [52]:
pd.DataFrame(req.json()['features'][0]).iloc[:-2, :1].transpose()

,DATETIMERECEIVEDUTC,DATETIMECOMPLETEDUTC,WORKORDERREFNO,OBJECTID,FACILITYID,INTID,COUNCILDISTRICT,SERVICERECORDID,SERVICECATEGORY,DATETIMERECEIVED,...,LATITUDE,LONGITUDE,IMAGENAME,HYPERLINK,MYSANJOSEREFNO,LASTUPDATETHIRTYDAYS,LASTUPDATE,NOTES,ENTERPRISEID,GlobalID
attributes,1590721500000,1590726000000,WO-0000341544,1,83900,83900,8,,Debris & Illegal Dumping,1590696300000,...,37.328093,-121.818059,None,None,None,1598363089000,1600986109000,Homeless debris,IWM-ILDM-0000083900,{87E47F44-FE16-4833-BC9C-B4E55BD89187}

In [53]:
result_entries = []

for response in req.json()['features']:
    # Create a DataFrame with the first column and exclude the last two rows
    entry = pd.DataFrame(response).iloc[:-2, :1].transpose()
    
    # Append the transposed entry to the result_entries list
    result_entries.append(entry)

# Concatenate all entries into a single DataFrame
df = pd.concat(result_entries, ignore_index=True)

# Reset the index of the final result_df
df.reset_index(drop=True, inplace=True)

In [55]:
df.head()

,DATETIMERECEIVEDUTC,DATETIMECOMPLETEDUTC,WORKORDERREFNO,OBJECTID,FACILITYID,INTID,COUNCILDISTRICT,SERVICERECORDID,SERVICECATEGORY,DATETIMERECEIVED,...,LATITUDE,LONGITUDE,IMAGENAME,HYPERLINK,MYSANJOSEREFNO,LASTUPDATETHIRTYDAYS,LASTUPDATE,NOTES,ENTERPRISEID,GlobalID
0,1590721500000,1590726000000,WO-0000341544,1,83900,83900,8,,Debris & Illegal Dumping,1590696300000,...,37.328093,-121.818059,None,None,None,1598363089000,1600986109000,Homeless debris,IWM-ILDM-0000083900,{87E47F44-FE16-4833-BC9C-B4E55BD89187}
1,1578073213000,1578595560000,WO-0000297255,2,71678,71678,5,456126,Debris & Illegal Dumping,1578044413000,...,37.362672,-121.830892,None,None,200103-000115,1598363046000,1600986109000,Garbage,IWM-ILDM-0000071678,{1065F486-C19E-4B42-90AC-4611879FE08E}
2,1627243159000,1627498800000,WO-0000445585,3,115783,115783,4,780969,Debris & Illegal Dumping,1627217959000,...,37.377826,-121.866821,None,None,210725-000137,1624917719000,1627534938000,The location of constant Illegal Dumping is at...,IWM-ILDM-0000115783,{82AC2832-EA43-41AD-AB1F-FFB4142E9247}
3,1552915723000,None,WO-0000205471,4,51267,51267,3,299977,Debris & Illegal Dumping,1552890523000,...,37.36042,-121.90402,None,None,190318-000024,1598363378000,1600986109000,this will be the second such report in under 6...,IWM-ILDM-0000051267,{D27C6745-55BC-4C14-B3D6-D3AC6C33006C}
4,1462316400000,1462328280000,WO-0000011247,5,4285,4285,5,,Debris & Illegal Dumping,1462291200000,...,37.356961,-121.853061,None,None,None,1598363071000,1600986109000,on sidewalk mattress,IWM-ILDM-0000004285,{A8FF94CC-D920-4851-92BA-1C290F05B037}

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATETIMERECEIVEDUTC   2000 non-null   object
 1   DATETIMECOMPLETEDUTC  1907 non-null   object
 2   WORKORDERREFNO        2000 non-null   object
 3   OBJECTID              2000 non-null   object
 4   FACILITYID            2000 non-null   object
 5   INTID                 2000 non-null   object
 6   COUNCILDISTRICT       2000 non-null   object
 7   SERVICERECORDID       2000 non-null   object
 8   SERVICECATEGORY       2000 non-null   object
 9   DATETIMERECEIVED      2000 non-null   object
 10  STATUS                2000 non-null   object
 11  DATETIMECOMPLETED     1907 non-null   object
 12  DETAILSUMMARY         1077 non-null   object
 13  LATITUDE              2000 non-null   object
 14  LONGITUDE             2000 non-null   object
 15  IMAGENAME             0 non-null      object
 16  HYPERLINK             0 non-null      object
 17  MYSANJOSEREFNO        1261 non-null   object
 18  LASTUPDATETHIRTYDAYS  2000 non-null   object
 19  LASTUPDATE            2000 non-null   object
 20  NOTES                 2000 non-null   object
 21  ENTERPRISEID          2000 non-null   object
 22  GlobalID              2000 non-null   object
dtypes: object(23)
memory usage: 359.5+ KB

In [58]:
df.to_csv('../data/illegal_dumping.csv')