In [2]:
import pandas as pd
import numpy as np
import requests
import os
from datetime import datetime, timezone, timedelta

In [2]:
url = 'https://geo.sanjoseca.gov/server/rest/services/OPN/OPN_OpenDataService/MapServer/458/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [3]:
req = requests.get(url)
req.status_code

200

In [12]:
sj = req.json()
sj.keys()

dict_keys(['displayFieldName', 'fieldAliases', 'geometryType', 'spatialReference', 'fields', 'features', 'exceededTransferLimit'])

In [13]:
sj['displayFieldName']

'IMAGENAME'

In [14]:
pd.DataFrame(sj['features'])

,attributes,geometry
0,"{'DATETIMERECEIVEDUTC': 1590721500000, 'DATETI...","{'x': -121.81807207346314, 'y': 37.32809795022..."
1,"{'DATETIMERECEIVEDUTC': 1578073213000, 'DATETI...","{'x': -121.83090543314101, 'y': 37.36267701263..."
2,"{'DATETIMERECEIVEDUTC': 1627243159000, 'DATETI...","{'x': -121.86683404814093, 'y': 37.37783129176..."
3,"{'DATETIMERECEIVEDUTC': 1552915723000, 'DATETI...","{'x': -121.90403268998422, 'y': 37.36042524638..."
4,"{'DATETIMERECEIVEDUTC': 1462316400000, 'DATETI...","{'x': -121.85307408253561, 'y': 37.35696594995..."
...,...,...
1995,"{'DATETIMERECEIVEDUTC': 1651096926000, 'DATETI...","{'x': -121.90798979259169, 'y': 37.37467714752..."
1996,"{'DATETIMERECEIVEDUTC': 1614311704000, 'DATETI...","{'x': -121.87616004262563, 'y': 37.34495111402..."
1997,"{'DATETIMERECEIVEDUTC': 1487287080000, 'DATETI...","{'x': -121.92705509633738, 'y': 37.38105794664..."
1998,"{'DATETIMERECEIVEDUTC': 1532195962000, 'DATETI...","{'x': -121.8711263363541, 'y': 37.31328537187932}"
1999,"{'DATETIMERECEIVEDUTC': 1474500960000, 'DATETI...","{'x': -121.88226708513676, 'y': 37.34430694675..."

In [15]:
sj['features'][0]['attributes']

{'DATETIMERECEIVEDUTC': 1590721500000,
 'DATETIMECOMPLETEDUTC': 1590726000000,
 'WORKORDERREFNO': 'WO-0000341544',
 'OBJECTID': 1,
 'FACILITYID': '83900',
 'INTID': 83900,
 'COUNCILDISTRICT': '8',
 'SERVICERECORDID': '',
 'SERVICECATEGORY': 'Debris & Illegal Dumping',
 'DATETIMERECEIVED': 1590696300000,
 'STATUS': 'Closed',
 'DATETIMECOMPLETED': 1590700800000,
 'DETAILSUMMARY': None,
 'LATITUDE': 37.328093,
 'LONGITUDE': -121.818059,
 'IMAGENAME': None,
 'HYPERLINK': None,
 'MYSANJOSEREFNO': None,
 'LASTUPDATETHIRTYDAYS': 1598363089000,
 'LASTUPDATE': 1600986109000,
 'NOTES': 'Homeless debris',
 'ENTERPRISEID': 'IWM-ILDM-0000083900',
 'GlobalID': '{87E47F44-FE16-4833-BC9C-B4E55BD89187}'}

In [42]:
pd.DataFrame(sj['features'][0]).loc[:, 'attributes'].transpose()

DATETIMERECEIVEDUTC                              1590721500000
DATETIMECOMPLETEDUTC                             1590726000000
WORKORDERREFNO                                   WO-0000341544
OBJECTID                                                     1
FACILITYID                                               83900
INTID                                                    83900
COUNCILDISTRICT                                              8
SERVICERECORDID
SERVICECATEGORY                       Debris & Illegal Dumping
DATETIMERECEIVED                                 1590696300000
STATUS                                                  Closed
DATETIMECOMPLETED                                1590700800000
DETAILSUMMARY                                             None
LATITUDE                                             37.328093
LONGITUDE                                          -121.818059
IMAGENAME                                                 None
HYPERLINK                                                 None
MYSANJOSEREFNO                                            None
LASTUPDATETHIRTYDAYS                             1598363089000
LASTUPDATE                                       1600986109000
NOTES                                          Homeless debris
ENTERPRISEID                               IWM-ILDM-0000083900
GlobalID                {87E47F44-FE16-4833-BC9C-B4E55BD89187}
x                                                          NaN
y                                                          NaN
Name: attributes, dtype: object

In [17]:
pd.DataFrame(sj['features'][0]).iloc[:-2, :1].transpose()

,DATETIMERECEIVEDUTC,DATETIMECOMPLETEDUTC,WORKORDERREFNO,OBJECTID,FACILITYID,INTID,COUNCILDISTRICT,SERVICERECORDID,SERVICECATEGORY,DATETIMERECEIVED,...,LATITUDE,LONGITUDE,IMAGENAME,HYPERLINK,MYSANJOSEREFNO,LASTUPDATETHIRTYDAYS,LASTUPDATE,NOTES,ENTERPRISEID,GlobalID
attributes,1590721500000,1590726000000,WO-0000341544,1,83900,83900,8,,Debris & Illegal Dumping,1590696300000,...,37.328093,-121.818059,None,None,None,1598363089000,1600986109000,Homeless debris,IWM-ILDM-0000083900,{87E47F44-FE16-4833-BC9C-B4E55BD89187}

In [18]:
url = 'https://geo.sanjoseca.gov/server/rest/services/OPN/OPN_OpenDataService/MapServer/458/query?where=1%3D1&outFields=*&outSR=4326&f=json'
req = requests.get(url)
sj = req.json()
req.status_code
result_entries = []

for response in sj['features']:
        # Create a DataFrame with the first column and exclude the last two rows
    entry = pd.DataFrame(response).iloc[:-2, :1].transpose()

        # Append the transposed entry to the result_entries list
    result_entries.append(entry)

    # Concatenate all entries into a single DataFrame
df = pd.concat(result_entries, ignore_index=True)

    # Reset the index of the final result_df
df.reset_index(drop=True, inplace=True)

In [72]:
df[['DATETIMERECEIVEDUTC', 'DATETIMECOMPLETEDUTC']]

      DATETIMERECEIVEDUTC  DATETIMECOMPLETEDUTC
0              1590721500            1590726000
1              1578073213            1578595560
2              1627243159            1627498800
3              1552915723                     0
4              1462316400            1462328280
...                   ...                   ...
1995           1651096926            1651172400
1996           1614311704            1614696360
1997           1487287080            1489262400
1998           1532195962            1532454540
1999           1474500960            1474484400

[2000 rows x 2 columns]

In [82]:
df[df['STATUS']=='Assigned'][['DATETIMERECEIVEDUTC', 'DATETIMECOMPLETEDUTC']]

      DATETIMERECEIVEDUTC  DATETIMECOMPLETEDUTC
82             1591360168                     0
133            1633560605                     0
155            1583454443                     0
182            1623277740                     0
191            1581728410                     0
455            1484186700                     0
485            1586617026                     0
526            1476902400                     0
837            1583880120                     0
873            1578753820                     0
993            1620162411                     0
1159           1581553183                     0
1601           1620879000                     0
1629           1584657567                     0
1699           1578856404                     0
1820           1605909171                     0

In [ ]:
    url = 'https://geo.sanjoseca.gov/server/rest/services/OPN/OPN_OpenDataService/MapServer/458/query?where=1%3D1&outFields=*&outSR=4326&f=json'
    newest_date = df['DATETIMERECEIVEDUTC'].max()
    params = {'start_date' : 1590721500000}
    req = requests.get(url, params=params)
    req.json()

In [76]:
"""
20240219
Code was asited by chatGPT; prompt focused on converted unix time into pst. Line 13 was fixed to convert to milliseconds and 21 was generated  to convert to PST

Then I converted those lines into a function to convert columns as needed.
Since this is in San Jose I assume the timezone was in PST

This has gone through serval interations due to issues with importing data into postgresql


Code was later updated to have a seperate script for pulling the data an cleaning the data
"""


file_path = '../data/illegal_dumping.csv'
if not os.path.exists(file_path):
    url = 'https://geo.sanjoseca.gov/server/rest/services/OPN/OPN_OpenDataService/MapServer/458/query?where=1%3D1&outFields=*&outSR=4326&f=json'
    req = requests.get(url)
    sj = req.json()
    result_entries = []

    for response in sj['features']:
        # Create a DataFrame with the first column and exclude the last two rows
        entry = pd.DataFrame(response).iloc[:-2, :1].transpose()

        # Append the transposed entry to the result_entries list
        result_entries.append(entry)

    # Concatenate all entries into a single DataFrame
    df = pd.concat(result_entries, ignore_index=True)

    # Reset the index of the final result_df
    df.reset_index(drop=True, inplace=True)
    #saves csv
    df.to_csv('../data/illegal_dumping.csv', index= False)
    #print a status code for creating a csv if it didnt exist before
    print('illegal dumping csv created')
#if the file exist then it loads it as a csv.
else:
    df= pd.read_csv('../data/illegal_dumping.csv')
    # Need to learn how to use the params with this datebase; using time and the column name is not working
    # url = 'https://geo.sanjoseca.gov/server/rest/services/OPN/OPN_OpenDataService/MapServer/458/query?where=1%3D1&outFields=*&outSR=4326&f=json'
    # newest_date = df['DATETIMERECEIVEDUTC'].max()
    # params = {'time' : newest_date+1}
    # req = requests.get(url, params=params)
    # sj = req.json()
    # result_entries = []
    # for response in sj['features']:
    #     # Create a DataFrame with the first column and exclude the last two rows
    #     entry = pd.DataFrame(response).iloc[:-2, :1].transpose()
    #     result_entries.append(entry)
    # df = pd.concat([df]+result_entries, ignore_index=True)
    print('illegal dumping csv loaded and updated')

illegal dumping csv loaded and updated

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATETIMERECEIVEDUTC   2000 non-null   int64
 1   DATETIMECOMPLETEDUTC  1907 non-null   float64
 2   WORKORDERREFNO        2000 non-null   object
 3   OBJECTID              2000 non-null   int64
 4   FACILITYID            2000 non-null   int64
 5   INTID                 2000 non-null   int64
 6   COUNCILDISTRICT       2000 non-null   int64
 7   SERVICERECORDID       1261 non-null   float64
 8   SERVICECATEGORY       2000 non-null   object
 9   DATETIMERECEIVED      2000 non-null   int64
 10  STATUS                2000 non-null   object
 11  DATETIMECOMPLETED     1907 non-null   float64
 12  DETAILSUMMARY         1077 non-null   object
 13  LATITUDE              2000 non-null   float64
 14  LONGITUDE             2000 non-null   float64
 15  IMAGENAME             0 non-null      float64
 16  HYPERLINK             0 non-null      float64
 17  MYSANJOSEREFNO        1261 non-null   object
 18  LASTUPDATETHIRTYDAYS  2000 non-null   int64
 19  LASTUPDATE            2000 non-null   int64
 20  NOTES                 2000 non-null   object
 21  ENTERPRISEID          2000 non-null   object
 22  GlobalID              2000 non-null   object
dtypes: float64(7), int64(8), object(8)
memory usage: 359.5+ KB

In [92]:
def convert_time(df, col):
    # Assuming the columns with Unix time are in milliseconds; dates make more sense with this method
    df[f'{col}'] = (df[f'{col}'].fillna(0) / 1000).astype(int)

#     # Assuming original time is in UTC; Since the local time is PST we will make this assumption
#     utc_timezone = timezone.utc
#     pst_timezone = timezone(timedelta(hours=-8))  # Pacific Standard Time (PST) since the city in san jose

#     # Convert UTC time to PST
#     df[f'{col}'] = df[f'{col}'].dt.tz_localize(utc_timezone).dt.tz_convert(pst_timezone)

#     # Format the datetime to a string with PostgreSQL compatible format; can add a %z for timezone
#     df[f'{col}'] = df[f'{col}'].dt.strftime('%Y-%m-%d %H:%M:%S' + ' America/Los_Angeles')

#     return df
    #list columns of fields that should be dates
    cols = ['DATETIMERECEIVEDUTC', 'DATETIMECOMPLETEDUTC', 'DATETIMERECEIVED', 'LASTUPDATETHIRTYDAYS', 'LASTUPDATE', 'DATETIMECOMPLETED']    
    #loop through list od columns
for i in cols:
    #uses function to convert to time into a human readable format
    convert_time(df, i)

In [95]:
df.head(5).to_csv('../data/illegal_dumping_test.csv', index= False)

In [5]:
df['DATETIMERECEIVEDUTC'].max()

1667425634

In [30]:
for i in cols:
    display(df[[i]][df[i].isna()])

Empty DataFrame
Columns: [DATETIMERECEIVEDUTC]
Index: []

Empty DataFrame
Columns: [DATETIMECOMPLETEDUTC]
Index: []

Empty DataFrame
Columns: [DATETIMERECEIVED]
Index: []

Empty DataFrame
Columns: [LASTUPDATETHIRTYDAYS]
Index: []

Empty DataFrame
Columns: [LASTUPDATE]
Index: []

Empty DataFrame
Columns: [DATETIMECOMPLETED]
Index: []

In [23]:
for i in df.columns:
    print(i)

DATETIMERECEIVEDUTC
DATETIMECOMPLETEDUTC
WORKORDERREFNO
OBJECTID
FACILITYID
INTID
COUNCILDISTRICT
SERVICERECORDID
SERVICECATEGORY
DATETIMERECEIVED
STATUS
DATETIMECOMPLETED
DETAILSUMMARY
LATITUDE
LONGITUDE
IMAGENAME
HYPERLINK
MYSANJOSEREFNO
LASTUPDATETHIRTYDAYS
LASTUPDATE
NOTES
ENTERPRISEID
GlobalID

In [37]:

df = pd.read_csv('../data/illegal_dumping.csv')

# Specify the table name
table_name = 'illegal_dumping'

# Initialize an empty list to store SQL statements
sql_statements = []

# Iterate through the DataFrame rows
for index, row in df.iterrows():
    # Construct the SQL insert statement for each row
    sql = f"INSERT INTO {table_name} (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES "
    sql += f"(to_timestamp('{row['DATETIMERECEIVEDUTC']}'), to_timestamp('{row['DATETIMECOMPLETEDUTC']}'), '{row['WORKORDERREFNO']}', '{row['OBJECTID']}', '{row['FACILITYID']}', '{row['INTID']}', '{row['COUNCILDISTRICT']}', {row['SERVICERECORDID']}, '{row['SERVICECATEGORY']}', to_timestamp('{row['DATETIMERECEIVED']}'), '{row['STATUS']}', to_timestamp('{row['DATETIMECOMPLETED']}'), '{row['DETAILSUMMARY']}', '{row['LATITUDE']}', '{row['LONGITUDE']}', '{row['IMAGENAME']}', '{row['HYPERLINK']}', '{row['MYSANJOSEREFNO']}', to_timestamp('{row['LASTUPDATETHIRTYDAYS']}'), to_timestamp('{row['LASTUPDATE']}'), '{row['NOTES']}', '{row['ENTERPRISEID']}', '{row['GlobalID']}');"
    
    # Append the SQL statement to the list
    sql_statements.append(sql)

# Print the SQL statements
for statement in sql_statements[:5]:
    print(statement)

INSERT INTO illegal_dumping (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES (to_timestamp('1590721500'), to_timestamp('1590726000'), 'WO-0000341544', '1', '83900', '83900', '8', nan, 'Debris & Illegal Dumping', to_timestamp('1590696300'), 'Closed', to_timestamp('1590700800'), 'nan', '37.328093', '-121.818059', 'nan', 'nan', 'nan', to_timestamp('1598363089'), to_timestamp('1600986109'), 'Homeless debris', 'IWM-ILDM-0000083900', '{87E47F44-FE16-4833-BC9C-B4E55BD89187}');
INSERT INTO illegal_dumping (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES (to_timestamp('1578073213'), to_timestamp('1578595560'), 'WO-0000297255', '2', '71678', '71678', '5', 456126.0, 'Debris & Illegal Dumping', to_timestamp('1578044413'), 'Closed', to_timestamp('1578566760'), '1 Garbage , 1 General Debris', '37.36267206', '-121.83089235', 'nan', 'nan', '200103-000115', to_timestamp('1598363046'), to_timestamp('1600986109'), 'Garbage', 'IWM-ILDM-0000071678', '{1065F486-C19E-4B42-90AC-4611879FE08E}');
INSERT INTO illegal_dumping (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES (to_timestamp('1627243159'), to_timestamp('1627498800'), 'WO-0000445585', '3', '115783', '115783', '4', 780969.0, 'Debris & Illegal Dumping', to_timestamp('1627217959'), 'Closed', to_timestamp('1627473600'), 'nan', '37.37782634', '-121.86682096', 'nan', 'nan', '210725-000137', to_timestamp('1624917719'), to_timestamp('1627534938'), 'The location of constant Illegal Dumping is at near the Intersection of Ensign Way and Branbury Way , near the lefthand sidewalk of 2008 Ensign Way. The person who supposedly dumped it has left a empty package with the tracking number still on it.', 'IWM-ILDM-0000115783', '{82AC2832-EA43-41AD-AB1F-FFB4142E9247}');
INSERT INTO illegal_dumping (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES (to_timestamp('1552915723'), to_timestamp('0'), 'WO-0000205471', '4', '51267', '51267', '3', 299977.0, 'Debris & Illegal Dumping', to_timestamp('1552890523'), 'Closed', to_timestamp('0'), 'nan', '37.3604203', '-121.9040196', 'nan', 'nan', '190318-000024', to_timestamp('1598363378'), to_timestamp('1600986109'), 'this will be the second such report in under 6 months for the same address.  Prev ENFORCEMENT measures obviously failed.   Strong ENFORCEMENT measures are needed to prevent this from happening again. This is a continued blight on the neighborhood from ign', 'IWM-ILDM-0000051267', '{D27C6745-55BC-4C14-B3D6-D3AC6C33006C}');
INSERT INTO illegal_dumping (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES (to_timestamp('1462316400'), to_timestamp('1462328280'), 'WO-0000011247', '5', '4285', '4285', '5', nan, 'Debris & Illegal Dumping', to_timestamp('1462291200'), 'Closed', to_timestamp('1462303080'), 'nan', '37.356961', '-121.853061', 'nan', 'nan', 'nan', to_timestamp('1598363071'), to_timestamp('1600986109'), 'on sidewalk mattress', 'IWM-ILDM-0000004285', '{A8FF94CC-D920-4851-92BA-1C290F05B037}');

In [36]:
type(sql_statements)

list

In [106]:
def generate_insert_sql(df, table_name, output_file):
    df.replace(np.nan, 0, inplace=True) #temporary fix to get pipeline to work; will need to fix later
    # Open the SQL file we will use to populate the datebase
    with open(output_file, 'w') as sql_file:
        # Iterate through the DataFrame rows
        for index, row in df.iterrows():
            #get rid of quotes so the program doesnt break
            row = row.apply(lambda x: str(x).replace("'", "''").replace('"', '""'))
            #drops nan strings

            # Construct the SQL insert statement for each row
            sql = f"INSERT INTO {table_name} (DATETIMERECEIVEDUTC, DATETIMECOMPLETEDUTC, WORKORDERREFNO, OBJECTID, FACILITYID, INTID, COUNCILDISTRICT, SERVICERECORDID, SERVICECATEGORY, DATETIMERECEIVED, STATUS, DATETIMECOMPLETED, DETAILSUMMARY, LATITUDE, LONGITUDE, IMAGENAME, HYPERLINK, MYSANJOSEREFNO, LASTUPDATETHIRTYDAYS, LASTUPDATE, NOTES, ENTERPRISEID, GlobalID) VALUES "
            sql += f"(to_timestamp('{row['DATETIMERECEIVEDUTC']}'), to_timestamp('{row['DATETIMECOMPLETEDUTC']}'), '{row['WORKORDERREFNO']}', '{row['OBJECTID']}', '{row['FACILITYID']}', '{row['INTID']}', '{row['COUNCILDISTRICT']}', {row['SERVICERECORDID']}, '{row['SERVICECATEGORY']}', to_timestamp('{row['DATETIMERECEIVED']}'), '{row['STATUS']}', to_timestamp('{row['DATETIMECOMPLETED']}'), '{row['DETAILSUMMARY']}', '{row['LATITUDE']}', '{row['LONGITUDE']}', '{row['IMAGENAME']}', '{row['HYPERLINK']}', '{row['MYSANJOSEREFNO']}', to_timestamp('{row['LASTUPDATETHIRTYDAYS']}'), to_timestamp('{row['LASTUPDATE']}'), '{row['NOTES']}', '{row['ENTERPRISEID']}', '{row['GlobalID']}');\n"
            
            # Write the SQL statement to the file
            sql_file.write(sql)

    print(f"SQL statements have been written to {output_file}")

# specifiy the file we will be using
df = pd.read_csv('../data/illegal_dumping.csv')

# Specify the table name were inserting into
table_name = 'illegal_dumping'

# Specify the output SQL file name
output_sql_file = '../src/illegal_dumping_data.sql'

# Call the function
generate_insert_sql(df, table_name, output_sql_file)

SQL statements have been written to ../src/illegal_dumping_data.sql